<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login - Pay My Buddy</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="container">

    <div class="card">

        <div class="logo">
            Pay My Buddy
        </div>

        <form action="/login" method="post">

            <input
                    type="email"
                    id="username"
                    name="username"
                    class="form-input"
                    placeholder="Mail"
                    required>

            <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-input"
                    placeholder="Mot de passe"
                    required>

            <button type="submit" class="form-button">
                Se connecter
            </button>

        </form>

    </div>

</div>

</body>

</html>