<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register - Pay My Buddy</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="container">

    <div class="card">

        <div class="logo">
            Pay My Buddy
        </div>

        <form th:action="@{/register}" method="post" th:object="${user}">

            <input
                    type="text"
                    th:field="*{username}"
                    class="form-input"
                    placeholder="Username"
                    aria-label="Username"
                    required>

            <input
                    type="email"
                    th:field="*{email}"
                    class="form-input"
                    placeholder="Mail"
                    aria-label="Email address"
                    required>

            <input
                    type="password"
                    th:field="*{password}"
                    class="form-input"
                    placeholder="Mot de passe"
                    aria-label="Password"
                    required>

            <button type="submit" class="form-button">
                S'inscrire
            </button>

            <p style="margin-top:20px;">
                Déjà inscrit ?
                <a href="/login">Se connecter</a>
            </p>

        </form>

    </div>

</div>

</body>

</html>